@font-face {
    font-family: "Mont";
    src: url("../../assets/fonts/MontDemo-ExtraLight.otf");
}

@font-face {
    font-family: "Mont Bold";
    src: url("../../assets/fonts/MontDemo-Heavy.otf");
}

//Colors
$color-white: #ffffff;
$color-grey: #00000029;
$color-black: #000000;
$color-light: #f5faff;
$color-light-blue: #bfffff;
$color-blue: #186cb2;
$color-dark-blue: #073e6b;
$color-red: #ff0000;