.margin {
    margin: 3rem 0;
}

.fa-chevron-right {
    background-color: #073e6b;
    height: 3.8rem;
    display: inline-block;
    position: relative;
    left: 7rem;
    width: 5rem;
    border-radius: 2rem;
    padding: 1.4rem 21px;
    bottom: 3rem;
}